
#header nav{
	margin-left:60%;
	margin-top:-100px;
}

#header ul li{
	display:block;
	margin-bottom:10px;
}

#header ul li a{
	padding-top:10px;
}
.logo{
	margin-left:10%;
}

#sub-header ul{
	margin-left:10%;
}
/*----------------------- HEADER / SUBHEADER ---------------------------*/
.boxgrid{
	width:30%;
}
/*----------------------- PORTFOLIO PAGE ---------------------------*/

#about_content{
	font-size:9pt;
}

#about_content h1{
	font-size:25pt;
}

#about_content h2{
	font-size:15pt;
}

#about_content .katie{
	width:350px;
}

#experience{
	width:90%;
}

#experience ul{
	width:90%;
}

#skills{
	width:60%;
}

#skills ul{
	width:45%;
}

#interest{
	width:25%;
}

#personal img{
	width:30%;
}

/*----------------------- ABOUT PAGE ---------------------------*/
#contact_content img{
	width:95%;
	border:5px solid white;
}

#brief{
	padding-bottom:15%;
}

#brief img{
	width:10%;
	border:none;
	margin-right:1%;
}

#brief a:hover img{
	width:11%;
}

/*----------------------- CONTACT PAGE ---------------------------*/
#blog_content{
	width:85%;
}

#blog_sidebar{
	margin-left:5%;
}

#sidebar_02 {
	float:left;
	background-color:red;
}

#sidebar_01{
	float:left;
}

#blog_sidebar{
	float:left;
	margin-top:100px;
	margin-bottom:10%;
	color:white;
	width:85%;
}

#blog_sidebar ul li{
	list-style:none;
	margin-bottom:5%;
}

#blog_sidebar ul{
	padding:0;
}

#blog_sidebar a{
	color:grey;
	text-decoration:none;
}

#blog_sidebar a:hover{
	color:white;
	text-decoration:underline;
}




/*----------------------- BLOG PAGE ---------------------------*/