
#header nav{
	margin-left:60%;
	margin-top:-100px;
}

#header ul li{
	display:block;
	margin-bottom:10px;
}

.logo{
	margin-left:10%;
}

#sub-header ul{
	margin-left:10%;
}
/*----------------------- PORTFOLIO PAGE ---------------------------*/
.boxgrid{
	width:30%;
}
/*----------------------- PORTFOLIO PAGE ---------------------------*/

/*----------------------- ABOUT PAGE ---------------------------*/

#about_content{
	font-size:9pt;
}

#about_content h1{
	font-size:25pt;
}

#about_content h2{
	font-size:15pt;
}

#about_content .katie{
	width:350px;
}

#experience{
	width:90%;
}

#experience ul{
	width:90%;
}

#skills{
	width:60%;
}

#skills ul{
	width:45%;
}

#interest{
	width:25%;
}

#personal img{
	width:30%;
}

/*----------------------- ABOUT PAGE ---------------------------*/