#header ul li a{
	margin-right:25px;
}

#header nav{
	margin-left:35%;
}
/*----------------------- PORTFOLIO PAGE ---------------------------*/
#sub-header ul{
	margin-left:35%;
}
/*----------------------- PORTFOLIO PAGE ---------------------------*/

/*----------------------- ABOUT PAGE ---------------------------*/

#about_content{
	font-size:10pt;
}

#lower_content{
	margin-top:4%;
}
#experience{
	width:45%;
}

#experience ul{
	width:90%;
}

#skills{
	width:35%;
}

#skills ul{
	width:45%;
}

#personal p{
	width:100%;
	margin-bottom:2%;
}

#personal img{
	width:20%;
}

/*----------------------- ABOUT PAGE ---------------------------*/
#blog_content{
	width:55%;
	margin-right:5%;
}
/*----------------------- BLOG PAGE ---------------------------*/