#header a.about{
	border-left:1px solid #da4c4c;
	padding-left:10px;
	padding-top:20px;
	padding-bottom:50px;
}

#header a.about:hover{
	border-left:1px solid #da4c4c;
	padding-left:10px;
	padding-top:20px;
	padding-bottom:50px;
}

#sub-header{
	background-color:#da4c4c;
}

#about_content{
	background-image:url("./images/header_background.png");
	padding:2%;
}

#about_content img{
	margin:0 auto;
	padding:0 auto;
}

#about_content p{
	margin:0 auto;
	padding:0 auto;
	color:white;
	width:40%;
}

#about_content .katie{
	width:500px;
}

footer{
	background-color:#da4c4c;
	height:30px;
	padding-left:20%;
	padding-top:1%;
}


/*----------------------------- end of div "footer" -------------------------------*/