#header{
	background-image:url("./images/header_background.png");
	height:200px;
}

#header ul li{
	display:inline;
	margin-right:50px;
	padding-left:10px;
	padding-top:20px;
	border-left:1px solid grey;
}

#header nav{
	position:relative;
	margin-left:35%;
	margin-top:-3%;
}

.logo{
	position:relative;
	width:120px;
	margin-left:20%;
	margin-top:2%;
}



/*------------------------------- end of div "header" ----------------------------------*/