body{
	font-size:10pt;
	font-weight:lighter;
	font-family:"Century Gothic", Helvetica, Arial, sans-serif;
}

#header{
	background-image:url("./images/header_background.png");
	height:208px;
}

#header ul li{
	display:inline;
	font-size:11pt;
	margin-right:50px;
	padding-left:10px;
	padding-top:20px;
	border-left:1px solid grey;
}

#header nav{
	position:relative;
	margin-left:45%;
	margin-top:-32px;
}

#header a{
	text-decoration:none;
	color:white;
}

.logo{
	position:relative;
	width:120px;
	margin-left:19%;
	margin-top:25px;
}

/*----------------------------- end of div "header" -------------------------------*/
#sub-header{
	position:relative;
	background-color:#575757;
	height:48px;
	padding:2px;
}

#sub-header p{
	margin-left:19%;
}
/*----------------------------- end of div "sub-header" ---------------------------*/






/*----------------------------- end of div "slider-wrapper" ---------------------------*/








/*----------------------------- end of div "footer" -------------------------------*/